In [1]:
import os, spacy, pandas as pd

In [2]:
nlp = spacy.load("ru_core_news_lg")

In [34]:
class Text():

    rows = []

    def __init__(self, text, genre, fname):
        self.text = text
        self.genre = genre
        self.fname = fname
        self.lemmas = self.get_lemmas()
    
    def get_lemmas(self):
        self.lemmas = []
        doc = nlp(self.text)
        for token in doc:
            if token.lemma_.isalpha():
                self.lemmas.append(token.lemma_)
        return self.lemmas

    def get_row(self):
        row = (self.fname, self.genre, len(self.lemmas), len(set(self.lemmas)))
        Text.rows.append(row)
        return row

In [35]:
genres = ['ballads', 'elegies', 'songs']

for genre in genres:

    filenames = os.listdir('../datasets/' + genre)

    for file in filenames:
        if file != '.DS_Store':
            with open('../datasets/' + genre + '/' + file, 'r', encoding='utf-8') as f:
                lines = f.read()
        
            text_piece = Text(lines, genre, file) 
            text_piece.get_row()

In [38]:
df = pd.DataFrame(Text.rows, columns=['filename', 'genre', 'all lemmas', 'unique lemmas'])

In [45]:
print('Total number of texts by genres')
df.groupby(['genre'])['filename'].count()

Total number of texts by genres

genre
ballads    189
elegies    510
songs      623
Name: filename, dtype: int64

In [46]:
print('Total number of tokens and unique lemmas by genres')
df.groupby(['genre']).sum()

Total number of tokens and unique lemmas by genres

         all lemmas  unique lemmas
genre
ballads       48510          31443
elegies      115313          79699
songs         73276          52185

In [47]:
print('Mean number of tokens and unique lemmas by genres')
df.groupby(['genre']).mean()

Mean number of tokens and unique lemmas by genres

         all lemmas  unique lemmas
genre
ballads  256.666667     166.365079
elegies  226.103922     156.272549
songs    117.617978      83.764045

In [48]:
print(df)

                             filename    genre  all lemmas  unique lemmas
0                      175_1842_E.txt  ballads         253            131
1                47_1842_Lyubimov.txt  ballads          50             35
2            183_1844_Zhadovskaya.txt  ballads          63             53
3               157_1847_Nekrasov.txt  ballads         279            186
4                206_1841_Tolstoy.txt  ballads         257            141
...                               ...      ...         ...            ...
1317      122_derzhavin_1803_utf8.txt    songs          36             33
1318  324_pugovishnikov_1838_utf8.txt    songs         229            155
1319       44_bashmakov_1842_utf8.txt    songs         169            103
1320         63_veltman_1832_utf8.txt    songs          70             51
1321      77_vladimirov_1848_utf8.txt    songs          44             36

[1322 rows x 4 columns]